/*********************************** Reset ***********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/********************************* Variables **********************************/
$green: #307473;
$light-green: #EBF2F0;
$off-white: #FFFBED;
$white: #FFFFFF;
$grey: #B9B7BD;
$radius: 25px;

/*********************************** Main ************************************/
body {
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

button {
  all: unset;
  cursor: pointer;
}

#loginBtn {
  color: $off-white;
  background-color: $green;
  padding: 1rem 2rem;
  border-radius: $radius;
}

#logoutBtn {
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  right: 2rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25rem;
  height: 100%;
  border-radius: 0 $radius $radius 0;
  overflow: hidden;
  background-color: $white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  header {
    position: relative;
    height: 10rem;
    color: $off-white;
    background-color: $green;

    h1 {
      position: absolute;
      left: 2rem;
      bottom: 1rem;
      font-size: 2rem;
      font-weight: bold;
      width: 50%;
    }

    img {
      position: absolute;
      bottom: 1rem;
      right: -7rem;
      width: 19rem;
      height: auto;
    }
  }

  @at-root #{&}-content {
    height: calc(100vh - 10rem - 4rem);
    display: flex;
    flex-direction: column;

    .garden-tabs {
      color: $grey;
      font-weight: 600;
  
      button {
        all: unset;
        width: 50%;
        height: 5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
  
        &.active {
          color: $green;
        }
  
        span {
          font-size: 1.5625rem;
          font-weight: 700;
        }
      }
  
      @at-root #{&}__active {
        width: 100%;
        height: 4px;
        background-color: $grey;
        position: relative;
  
        .indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background-color: $green;
          transition: 0.5s;
  
          &.slide {
            transform: translateX(100%);
          }
        }
      }
    }
  
    .reminders {
      color: $green;
      background-color: $light-green;
      padding: 2rem;
  
      h3 {
        font-weight: 700;
        margin-bottom: 1rem;
      }
  
      ul {
        font-size: 0.75rem;
        list-style: disc inside;
  
        span {
          font-weight: 700;
        }
      }
    }
  
    .plant-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: auto;
  
      .plant {
        background-color: $white;
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        box-shadow: 0px 0px 12.029px rgba(0, 0, 0, 0.05);
  
        .plant-img-placeholder {
          width: 8rem;
          height: 8rem;
          border-radius: 5px;
          background: url("./assets/bernard.svg") center center / cover no-repeat $light-green;
        }
  
        .plant-overview {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $green;
          font-size: 0.75rem;
  
          h3 {
            font-size: 1rem;
            font-weight: 700;
          }
  
          p.scientific {
            font-style: italic;
          }
  
          button {
            all: unset;
            font-weight: 700;
          };
        }
      }
    }
  }


  footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 1rem;

    nav {
      width: 100%;

      ul {
        display: flex;
        justify-content: space-around;
  
        li, li > button {
          display: flex;
          align-items: center;
        }
  
        button {
          cursor: pointer;
          padding: 0.5rem;
        }
      }
    }
    }

}

.map-container {
  width: 100vw;
  height: 100vh;
}

a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  display: none;
}