/*********************************** Reset ***********************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/********************************* Variables **********************************/
$green: #307473;
$dark-green: #255a5a;
$light-green: #ebf2f0;
$off-white: #fffbed;
$white: #ffffff;
$grey: #b9b7bd;
$radius: 25px;

@font-face {
  font-family: "Raisonne";
  src: url("./assets/fonts/Raisonne\ DemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Soin Sans Neue";
  src: url("./assets/fonts/Stawix\ -\ SoinSansNeue-Roman.otf") format("ttf");
}

/*********************************** Main ************************************/
body {
  font-family: "Soin Sans Neue", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raisonne", -apple-system, sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

#loginBtn {
  color: $off-white;
  background-color: $green;
  padding: 1rem 2rem;
  border-radius: $radius;
}

#logoutBtn {
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  right: 2rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25rem;
  height: 100%;
  border-radius: 0 $radius $radius 0;
  overflow: hidden;
  background-color: $white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  header {
    position: relative;
    height: 14rem;
    color: $off-white;
    background-color: $green;
    padding: 1rem 2rem;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: url("./assets/arrow.svg") center / contain no-repeat;
      }
    }

    h1 {
      position: absolute;
      left: 2rem;
      top: 6rem;
      font-size: 2rem;
      font-weight: bold;
      width: 50%;
    }

    img {
      position: absolute;
      bottom: 4rem;
      right: -8rem;
      width: 22rem;
      height: auto;
    }
  }

  .shovelContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    z-index: 1;
    padding: 0 2.5rem;

    .shovelButton {
      width: 4rem;
      height: 4rem;
      background: url("./assets/shovel.svg") center / 26px $green no-repeat;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.2s transform;

      &.active {
        background: url("./assets/close.svg") center / 18px $green no-repeat;
      }
    }

    .shovelActions {
      display: flex;
      flex-direction: column;
      background-color: $green;
      width: 100%;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: $white;
      transition: 0.2s;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      &.visible {
        opacity: 1;
        visibility: visible;

        button {
          pointer-events: all;
        }
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 50%;
        padding: 1.5rem 2rem;
        transition: 0.2s;
        cursor: pointer;
        pointer-events: none;

        &:hover {
          background-color: $dark-green;
        }

        p {
          width: 220px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      hr {
        flex: 0 0 2px;
        width: 80%;
        margin: 0;
        margin-left: 2rem;
        border: none;
        background-color: #c4c4c4;
      }
    }
  }

  @at-root #{&}-content {
    position: relative;
    height: calc(100vh - 11rem);
    display: flex;
    flex-direction: column;

    &.padded {
      padding: 2rem;
    }

    .garden-tabs {
      color: $grey;
      font-weight: 600;

      button {
        width: 50%;
        height: 5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;

        &.active {
          color: $green;
        }

        span {
          font-size: 1.5625rem;
          font-weight: 700;
        }
      }

      @at-root #{&}__active {
        width: 100%;
        height: 4px;
        background-color: $grey;
        position: relative;

        .indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background-color: $green;
          transition: 0.3s;

          &.slide {
            transform: translateX(100%);
          }
        }
      }
    }

    .plant-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: auto;

      .plant {
        background-color: $white;
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        box-shadow: 0px 0px 12.029px rgba(0, 0, 0, 0.05);

        .plant-img-placeholder {
          width: 8rem;
          height: 8rem;
          border-radius: 5px;
          // background: url("./assets/bernard.svg") center / cover no-repeat
          //   $light-green;

          img {
            width: 100%;
          }
        }

        .plant-overview {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $green;
          font-size: 0.75rem;

          h3 {
            font-size: 1rem;
            font-weight: 700;
          }

          p.scientific {
            font-style: italic;
          }

          button {
            font-weight: 700;
          }
        }
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      color: $dark-green;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;
    }

    .button-container {
      display: flex;
      gap: 2rem;

      button {
        flex: 1 1 50%;
        border: 2px solid $green;
        border-radius: 10px;
        text-align: center;
        height: 4rem;
        color: $green;
        font-weight: 600;

        &:hover {
          background-color: $light-green;
        }

        &.selected {
          background-color: $dark-green;
          color: $white;
        }
      }
    }

    button.finish {
      position: absolute;
      bottom: 5rem;
      width: calc(100% - 4rem);
      border-radius: 10px;
      background-color: $green;
      color: $white;
      font-weight: 600;
      height: 4rem;
      text-align: center;

      &:hover {
        background-color: $dark-green;
      }
    }

    input[type="text"] {
      border: 2px solid $green;
      border-radius: 10px;
      padding: 1rem;
      color: $green;
      font-weight: 600;

      &::placeholder {
        color: $grey;
      }

      &:focus {
        border: 2px solid $dark-green;
        outline: none;
      }
    }

    .dd-wrapper {
      position: relative;
      font-weight: 700;

      .dd-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $green;
        color: $white;
        border-radius: 10px;
        padding: 1rem 1.5rem;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .dd-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 300px;
        background-color: #6a9f97;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        overflow-y: auto;

        button {
          color: $white;
          padding: 1rem 1.5rem;

          &:last-child {
            border-radius: 0 0 10px 10px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #fff;
          }

          &:hover {
            background-color: $green;
          }
        }
      }
    }
  }
}

.map-container {
  width: 100vw;
  height: 100vh;
}

a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  display: none;
}

.marker {
  background: no-repeat center / contain url("../src/assets/1.svg");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  &#pitch,
  &#return {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    box-sizing: border-box;

    &:hover {
      background-color: rgba(255, 255, 255, 0.95);
    }
  }

  &#pitch {
    top: 105px;
  }

  &#return {
    top: 142px;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      background: url("./assets/recenterIcon.svg") center / contain no-repeat;
    }
  }
}
